html, body
{
	height:100%;
	width:100%;
	overflow:hidden;
}

.client-wrapper
{
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	background-image:url(images/clientbg.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	background-color:#FFFFFFF;
	overflow:hidden;
}

.client-content
{
	background: rgba(0, 0, 0, 0);
	width:100%;
	height:100%;
	z-index: 1;
	overflow:hidden;
}

.client-content > div
{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}

.serverList-container
{
	background: rgba(0, 0, 0, 0);
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}

.serverListItem
{
	font-size: 16px;
	padding: 8px 12px;
	border: 1px solid #333333;
	border-left:0px;
	border-right:0px;
	background-color: rgba(255,255,255,0.8);
	display:table;
	width:100%;
}

.serverListItem:hover
{
	background-color: rgba(255, 255, 255, 0.9);
	cursor:pointer;
}

.serverListItemName
{
	float: left;
	padding:4px 0px;
}

.serverListItemNum
{
	float: right;
	padding:4px 8px;
	background: rgba(255, 255, 255, 0.7);
	border-radius:4px;
}

.serverListItemNum:after
{
	content: " online";
}

#serverName
{
	position:absolute;
	top:0px;
	left:72px;
	right:72px;
	height:48px;
	line-height:48px;
	font-size:18px;
	font-weight:bold;
	padding:0px;
	text-align:center;
	margin:0px;
	background-color:rgba(255,255,255,0.8);
	overflow:auto;
}

#serverDescription
{
	position:absolute;
	top:48px;
	left:0px;
	right:0px;
	bottom:114px;
	background-color:rgba(255,255,255,0.9);
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
	padding:4px;
	border:1px solid #aaaaaa;
	border-left:0px;
	border-right:0px;
}

#serverInput
{
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
}

.si
{
	border-radius:0px;
	height:38px;
	position:absolute;
	left:0px;
	right:0px;
}

#serverInput-name
{
	bottom:76px;
}

#serverInput-color
{
	bottom:38px;
}

#serverInput-ip
{
	bottom:0px;
}

#serverInput-connect
{
	position:absolute;
	top:0px;
	right:0px;
	height:48px;
	margin:0px;
	border-radius:0px;
	width:96px;
	font-size:16px;
}

#serverInput-back
{
	position:absolute;
	top:0px;
	left:0px;
	height:48px;
	margin:0px;
	border-radius:0px;
	width:96px;
	font-size:16px;
}