html, body
{
	height:100%;
	width:100%;
}

.site-wrapper
{
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	background-image:url(images/indexbg.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	background-color:#FFFFFF;
}

.site-content
{
    content: "";
    background: rgba(0, 0, 0, 0);
	width:100%;
	height:100%;
    z-index: 1;
	/*-webkit-box-shadow: inset 0 0 200px rgba(0,0,0,.9);
	box-shadow: inset 0 0 100px rgba(0,0,0,.9);*/
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	color:black;
}

.front-content
{
	/*margin:none;
	
	background:rgba(255, 255, 255, 0.93);
	padding:8px;
	border-
	
	top:4px solid #7777FF;*/
}

.front-content h1
{
	background:rgba(255,255,255,1);
	display:inline-block;
	padding:8px 24px;
	border:1px solid black;
	border-bottom-width:2px;
	border-radius:12px;
}

.btn-black
{
	text-shadow:none;
	border:1px solid black;
	border-radius:4px;
	color:black !important;
	margin:4px 8px;
	background:rgba(255, 255, 255, 0.7);
	border-bottom-width:2px;
}

.btn-black:hover
{
	color:#5555CC !important;
	border-color:#5555CC;
}

.btn-black:active
{
	border-bottom-width:1px;
}

.animate-05
{
	transition: background-color 0.5s, color 0.5s, border-color 0.5s;
	-webkit-transition: background-color 0.5s, color 0.5s border-color 0.5s;
}

/* ******************** */

.client-wrapper
{
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	background-image:url(images/clientbg.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	background-color:#FFFFFFF;
}

.client-content
{
	background: rgba(0, 0, 0, 0);
	width:100%;
	height:100%;
	z-index: 1;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}

.client-content > div
{
	display:none;
}

.serverList-container
{
	background: rgba(0, 0, 0, 0);
}

.serverListItem
{
	font-size: 16px;
	padding: 8px 12px;
	border: 1px solid #333333;
	border-left:0px;
	border-right:0px;
	background-color: rgba(255,255,255,0.8);
	display:table;
	width:100%;
}

.serverListItem:hover
{
	background-color: rgba(255, 255, 255, 0.9);
	cursor:pointer;
}

.serverListItemName
{
	float: left;
	padding:4px 0px;
}

.serverListItemNum
{
	float: right;
	padding:4px 8px;
	background: rgba(255, 255, 255, 0.7);
	border-radius:4px;
}

.serverListItemNum:after
{
	content: " online";
}